@model IEnumerable<trefle888.Models.Product>


<link rel="stylesheet" href="~/css/Shop.css" />
<script src="~/js/Shop.js"></script>

 <div class="container" id="test">
    <div class="row">
@foreach (var product in Model)
{
            <figure class="col-sm-6 col-lg-4 position-relative" >
                <img src="@product.Image" class="img-fluid rounded" alt="@product.Name not found" width="400" height="500" />
                <div class="sizes-overlay"id="sizes">
                  <button class="size" onclick="addToCart(@product.Id,38)">38</button>
                 <button class="size" onclick="addToCart(@product.Id,40)">40</button>
                 <button class="size" onclick="addToCart(@product.Id,42)">42</button>
                 <button class="size" onclick="addToCart(@product.Id,44)">44</button>
                 <button class="size" onclick="addToCart(@product.Id,46)">46</button>
                 <button class="size" onclick="addToCart(@product.Id,48)">48</button>
               </div>
                <figcaption>
                    <p id="caption">@product.Name</p>
                    <p id="price">EGP @product.Price</p>
                </figcaption>
            </figure>
}
    </div>
</div>
